<!-- Add your newsletter subscription form here -->
<div style="margin: auto; max-width:540px; padding-top: 40px">
  <form style="border: 3px solid #f1f1f1; text-align:center;" action='https://feedburner.google.com/fb/a/mailverify' method='post' onsubmit='window.open("https://feedburner.google.com/fb/a/mailverify?uri=berbagit", "popupwindow", "scrollbars=yes,width=550,height=520"); return true' target='popupwindow'>
    <div style="padding: 20px; background-color: #f1f1f1;">
      <h2>Berlangganan Via Email</h2>
      <p>Dapatkan artikel terbaru langsung ke email Anda</p>
    </div>

    <div style="padding: 20px; background-color: white;">
      <input style="width: 100%; padding: 12px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box;" type="text" placeholder="Email address" name="email" required>
      <input type="hidden" value="berbagit" name="uri"/>
      <input type="hidden" name="loc" value="en_US"/>  
    </div>

    <div style=" padding: 20px; background-color: #f1f1f1;">
      <input style="width: 100%; padding: 12px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; box-sizing: border-box; background-color: #4CAF50; color: white; border: none;" type="submit" value="Langganan">
    </div>
  </form>
</div>
